/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.abstract {
	background-image: url(./images/18410.jpg);
	width: 100%;
	size: repeat;
}
.beige {
	background-color: rgb(194, 192, 189);
}
/* HEADER */

.bg-image img {
	width: 100%;
}

/* CATEGORY-IMAGES */

/* CATEGORY-IMAGES-hover */
.hovereffect {
	width: 95%;
	height: 80%;

	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin: auto;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect .img-fluid {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover .img-fluid {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	/* zoom img */
	transform: scale(1.5);
}

.hovereffect a,
.hovereffect p {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	margin-top: 20%;
}

.hovereffect:hover a,
.hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* CLOUSE CATEGORY-IMAGES-hover */

/* main */
.container-category {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.text-justify {
	text-align: justify;
}

/* frame photo 'man-typing' */

/* Product card   */
.height-100 {
	height: 100vh;
}

.card {
	width: 100%;
	border: none;
	height: 250px;
	max-width: 380px;
	overflow: hidden;
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: center;
	transition: all ease 0.4s;
}

.card img {
	transition: all ease 0.4s;
}

.card:hover img {
	margin-top: -80px;
}

.card .content {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: -60%;
	margin-left: -8px;
	transition: all ease 0.5s;
	border-radius: 4px;
	box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09);
}

.card .content .category {
	font-size: 17px;
	font-weight: 600;
}

.card .content .price {
	font-size: 17px;
	font-weight: 500;
	color: rgb(62, 97, 62);
}

.card .content p {
	font-weight: 500;
	font-size: 12px;
}

.card:hover .content {
	bottom: 0%;
}

.buttons button {
	border-radius: 1px;
	margin-bottom: 10px;
	transition: all ease 0.3s;
}

.content {
	padding: 10px;
}

/*TESTIMINILIONS */

.testimonial-slider {
	padding: 10px 0px 40px;
}

.carousel-item {
	border-top: 2px solid black;
	color: rgb(136, 131, 124);
	font-style: italic;
}

/* FEATURED BRANDS */
.container-brands {
	border-top: 2px solid black;
}

/* FOOTER */
.connect i {
	font-display: 20;
}

@media (max-width: 1022px) {
	input {
		width: 100%;
		border: none;
	}
}
