/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hide {
	display: none;
}

.contactt {
	width: 400px;
}

.beige {
	background-color: rgb(194, 192, 189);
}
/* HEADER */

.bg-image img {
	width: 100%;
}

/* CATEGORY-IMAGES-hover */
.hovereffect {
	width: 95%;
	height: 80%;

	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin: auto;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect .img-fluid {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover .img-fluid {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	/* zoom img */
	transform: scale(1.5);
}

.hovereffect a,
.hovereffect p {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	margin-top: 20%;
}

.hovereffect:hover a,
.hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* CLOUSE CATEGORY-IMAGES-hover */

/* main */
.container-category {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.text-justify {
	text-align: justify;
}

/* Product card   */
.height-100 {
	height: 100vh;
}

.card {
	width: 100%;
	border: none;
	height: 250px;
	max-width: 380px;
	overflow: hidden;
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: center;
	transition: all ease 0.4s;
}

.card img {
	transition: all ease 0.4s;
}

.card:hover img {
	margin-top: -80px;
}

.card .content {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: -60%;
	margin-left: -8px;
	transition: all ease 0.5s;
	border-radius: 4px;
	box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09);
}

.card .content .category {
	font-size: 17px;
	font-weight: 600;
}

.card .content .price {
	font-size: 17px;
	font-weight: 500;
	color: rgb(62, 97, 62);
}

.card .content p {
	font-weight: 500;
	font-size: 12px;
}

.card:hover .content {
	bottom: 0%;
}

.buttons button {
	border-radius: 1px;
	margin-bottom: 10px;
	transition: all ease 0.3s;
}

.content {
	padding: 10px;
}

/*TESTIMINILIONS */

.testimonial-slider {
	padding: 10px 0px 40px;
}

.carousel-item {
	border-top: 2px solid black;
	color: rgb(136, 131, 124);
	font-style: italic;
}

/* FEATURED BRANDS */
.container-brands {
	border-top: 2px solid black;
}

/* FOOTER */
.connect i {
	font-display: 20;
}

@media (max-width: 1022px) {
	input {
		width: 100%;
		border: none;
	}
}

/* modal-registration */
.transparent {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.575);
	z-index: 1;
}
.close {
	position: absolute;
	top: 5px;
	right: 23px;
	text-decoration: none;
}
.registration {
	width: 480px;
	max-height: 70%;
	min-height: 420px;
	border: 2px solid gray;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.sto{
	width: 100%;
}

/* modal-registration clouse */

/* SHOP CART NUMBER */

a.cart:hover {
	text-decoration: none;
	color: #d60e96;
}

a.cart .cart-basket {
	font-size: .6rem;
	position: absolute;
	top: -6px;
	right: -5px;
	width: 15px;
	height: 15px;
	color: #fff;
	background-color: gray;
	border-radius: 50%;
}

.table-image td,
th {
	vertical-align: middle;
	text-align: center;
}

/* CONTACTS */

.contact-bg {
	background-image: url(../images/header-img.jpg);
	height: 870px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	/* background-color: rgba(255, 255, 255, 0.5); */
	width: 60%;
	height: 80%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-card-bg {
	background-color: rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.card {
	margin: 0 auto;
}

.price {
	margin-left: 1rem;
}

.modal-footer {
	padding-top: 0rem;
}
/* modal cart  */
