/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hide {
	display: none;
}

.contactt {
	width: 400px;
}

.beige {
	background-color: rgb(194, 192, 189);
}
/* HEADER */

.bg-image img {
	width: 100%;
}

/* CATEGORY-IMAGES-hover */
.hovereffect {
	width: 95%;
	height: 80%;

	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin: auto;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect .img-fluid {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover .img-fluid {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	/* zoom img */
	transform: scale(1.5);
}

.hovereffect a,
.hovereffect p {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	margin-top: 20%;
}

.hovereffect:hover a,
.hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* CLOUSE CATEGORY-IMAGES-hover */

/* main */
.container-category {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.text-justify {
	text-align: justify;
}

/* Product card   */
.height-100 {
	height: 100vh;
}

.card {
	width: 100%;
	border: none;
	height: 250px;
	max-width: 380px;
	overflow: hidden;
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: center;
	transition: all ease 0.4s;
}

.card img {
	transition: all ease 0.4s;
}

.card:hover img {
	margin-top: -80px;
}

.card .content {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: -60%;
	margin-left: -8px;
	transition: all ease 0.5s;
	border-radius: 4px;
	box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09);
}

.card .content .category {
	font-size: 17px;
	font-weight: 600;
}

.card .content .price {
	font-size: 17px;
	font-weight: 500;
	color: rgb(62, 97, 62);
}

.card .content p {
	font-weight: 500;
	font-size: 12px;
}

.card:hover .content {
	bottom: 0%;
}

.buttons button {
	border-radius: 1px;
	margin-bottom: 10px;
	transition: all ease 0.3s;
}

.content {
	padding: 10px;
}

/*TESTIMINILIONS */

.testimonial-slider {
	padding: 10px 0px 40px;
}

.carousel-item {
	border-top: 2px solid black;
	color: rgb(136, 131, 124);
	font-style: italic;
}

/* FEATURED BRANDS */
.container-brands {
	border-top: 2px solid black;
}

/* FOOTER */
.connect i {
	font-display: 20;
}

@media (max-width: 1022px) {
	input {
		width: 100%;
		border: none;
	}
}

/* modal-registration */
.transparent {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.575);
	z-index: 1;
}
.close {
	position: absolute;
	top: 5px;
	right: 23px;
	text-decoration: none;
}
.registration {
	width: 480px;
	max-height: 70%;
	min-height: 420px;
	border: 2px solid gray;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, 0.85);
	transform: translate(-50%, -50%);
	z-index: 2;
}

/* modal-registration clouse */

/* SHOP CART NUMBER */

a.cart:hover {
	text-decoration: none;
	color: #d60e96;
}

a.cart .cart-basket {
	font-size: .6rem;
	position: absolute;
	top: -6px;
	right: -5px;
	width: 15px;
	height: 15px;
	color: #fff;
	background-color: gray;
	border-radius: 50%;
}

.table-image td,
th {
	vertical-align: middle;
	text-align: center;
}

/* CONTACTS */

.contact-bg {
	background-image: url(./main-images/header-img.jpg);
	background-size: cover;
	height: 110vh;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	/* background-color: rgba(255, 255, 255, 0.5); */
	width: 60%;
	min-height: 80%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-card-bg {
	background-color: rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.card {
	margin: 0 auto;
}

.price {
	margin-left: 1rem;
}

.modal-footer {
	padding-top: 0rem;
}
/* modal cart  */

/* Shoping cart start */
.modal-content {
	background-color: rgb(255, 255, 255, 0.7);
}

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: .5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: #eb5757;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #cc4c4c;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #56ccf2;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
}

.btn-purchase {
	display: block;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}

div.modal-body > a{
	height: 14%;
	font-size: 16px;
	width: 40%;
	font-weight: 600;
	
}
/* Shoping cart end */

/* CHECKOUT START */

.continue_to_checkout{
	height: auto;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 85%; /* IE10 */
	flex: 85%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.input-checkout[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.btn-checkout:hover {
	background-color: green;
	align-items: center;
}

a {
	color: #2196f3;
}

/* CHECKOUT END*/
