@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* header */ * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.beige {
	background-color: rgb(194, 192, 189);
}
/* HEADER */

.bg-image img {
	width: 100%;
}

/* end header */

/* Shoping cart start */
.modal-content {
	background-color: rgb(255, 255, 255, 0.85);
}

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: .5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: #eb5757;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #cc4c4c;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #56ccf2;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
}

.btn-purchase {
	display: block;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}
/* Shoping cart end */

/* item count number start*/
a.cart:hover {
	text-decoration: none;
	color: green;
}

a.cart .cart-basket {
	font-size: .6rem;
	position: absolute;
	top: -6px;
	right: -5px;
	width: 15px;
	height: 15px;
	color: #fff;
	background-color: gray;
	border-radius: 50%;
}
/* item count number end*/

/* product cart start */
.card {
	width: 500px;
	height: 400px;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.p-info {
	display: flex;
	justify-content: space-between;
}

.p-price {
	position: absolute;
	right: 3%;
	top: 10%;
	color: green;
	animation: pricereverse 500ms linear;
}

.card:hover .p-price {
	animation: onprice 500ms ease-in forwards;
}

@keyframes onprice {
	0% {
		right: 3%;
		top: 10%;
	}

	100% {
		right: 60%;
		top: 20%;
	}
}

@keyframes pricereverse {
	0% {
		right: 60%;
		top: 20%;
	}

	100% {
		right: 3%;
		top: 10%;
	}
}

.p-image img {
	width: 70%;
	transform: rotate(15deg);
	animation: imagereverse 300ms linear;
}

.card:hover .p-image img {
	animation: onimage 300ms ease-in forwards;
}

@keyframes onimage {
	0% {
		width: 70%;
	}

	50% {
		width: 60%;
		transform: translateY(-10%);
		transform: translateX(30%);
		opacity: 0.4;
	}

	100% {
		width: 60%;
		top: 30%;
		transform: translateY(28%);
		transform: translateX(31%);
		opacity: 0.4;
	}
}

@keyframes imagereverse {
	0% {
		width: 60%;
		top: 30%;
		transform: translateY(28%);
		transform: translateX(31%);
		opacity: 0.4;
	}

	50% {
		width: 60%;
		transform: translateY(-10%);
		transform: translateX(30%);
		opacity: 0.4;
	}

	100% {
		width: 70%;
	}
}

.p-about {
	position: absolute;
	width: 80%;
	font-size: 12px;
	font-weight: 650;
	top: 40%;
	left: -36%;
	opacity: 0;
	animation: aboutreverse 300ms linear;
}

.card:hover .p-about {
	animation: content 300ms ease-in forwards;
}

@keyframes content {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		left: 7%;
	}
}

@keyframes aboutreverse {
	0% {
		opacity: 1;
		left: 7%;
	}

	100% {
		opacity: 0;
	}
}

.buttons {
	position: absolute;
	bottom: -43%;
	animation: buttonreverse 500ms linear;
}

.card:hover .buttons {
	animation: buttons 500ms ease-in forwards;
}

@keyframes buttons {
	0% {
		bottom: -28%;
	}

	100% {
		bottom: 6%;
	}
}

@keyframes buttonreverse {
	from {
		bottom: 6%;
	}
	to {
		bottom: -28%;
	}
}

.btn {
	height: 14%;
	font-size: 16px;
	width: 40%;
	font-weight: 600;
}
#cartModal div.cart-items .cart-column > button {
	width: 25%;
	height: 60%;
}
/* product cart end */

.brand {
	border-top: 2px solid black;
	margin-top: 50px;
}

/* about-us */
.about-us {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.about-us {
	text-align: justify;
}

/* modal-registration */

.hide {
	display: none;
}

.transparent {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.575);
	z-index: 1;
}
.close {
	position: absolute;
	top: 5px;
	right: 23px;
	text-decoration: none;
}
.registration {
	width: 480px;
	max-height: 70%;
	min-height: 420px;
	border: 2px solid gray;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, 0.85);
	transform: translate(-50%, -50%);
	z-index: 2;
}
#templatemo_nav_top > div > div:nth-child(2) > div > a {
	font-family: 'Poppins', sans-serif;
	width: auto;
	font-weight: 100;
	border: 1px solid transparent;
}
#tempaltemo_footer > div > div.row > div:nth-child(3) > ul > li .text-secondary {
	width: auto;
	font-weight: 400;
}

/* POLICIES */
/* Returns */
.returns {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
/* Privacy */
.privacy {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
/* Terms */
.terms {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
